<!DOCTYPE html>
<html>
  <head>
    <title>All Clients</title>
    <meta content="">
    <style></style>
  </head>
  <body>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Birth Year</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.city}}</td>
            <td>{{client.birth_year}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table> 
    <a href="/">Go Back</a>     
  </body>
</html>